*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#logo, .hlink {
    color: #F9FAF8;
}


.hlink {
    font-size: 20px;
    margin-top: 27px;
    margin-right: 35px;
}


header {
    background-color: #1F2937;
    height: 15vh;
}


header #logo {
    position: absolute; 
    top: 15px;
    left: 300px;
    font-size: 34px;
}


#links {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: flex-start;
}


#second {
    background-color: #1F2937;
    width: 100%;
    height: 58vh;
}


#second h1{
position: absolute;
left: 342px;
margin:25px;
top: 17vh;
width:280px;
font-size: 48px;

}


#sign-up{

    font-size: 28px;
    border-radius: 20px;
    border-color: #F9FAF8;
    background-color: #3882F6;
    color:#F9FAF8;
    font-family:'Times New Roman', Times, serif;
    width: 20vh;
    height: 6vh; 
    position: absolute;
    left: 39vh;
    top:53vh;

}


#placeholder{
    width: 600px;
    height: 250px;
   
    align-content: center;
    position: absolute;
    left: 800px; 
    
}


#placeholder img{
    position: absolute;
    top:50px; 
    width: 700px;
    height: 350px;
}


#RC{


    display: flex;
    
    justify-content: center;
    align-content: center;
    
    
}

#RC #R{
    color: black; 
    font-size: 50px;
    margin-bottom: 18px;
   
}



#third{
    background-color: #F9FAF8; 
    width: 100%;
    height: 49vh;
    margin-top: 29px;
    
 
}

#container{
    display: flex;
    width: 100%;
    height: 16vh;
    gap: 100px; 
    justify-content: center;
    align-content: center;
}

.IDK{

    margin-top:25px;
    width: 20vh;
    height: 20vh;
    border: 3px blue solid;
    border-radius: 12px;
}

#text{
    display: flex;
    width: 100%;
    height:100%;
    gap: 145px; 
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    justify-items: center;

}

.par{
font-size: larger;
width: 140px


}




#mp{

    font-size:26px;
position:absolute;
top: 320px;
width:300px;
left: 369px;

}


#fourth{
width:100%;
height: 56vh;
background-color: #e5e7eb;

}



#quote-container{
    display: flex; 
    justify-content: center;
    justify-items: center;
 
}



#quote{

font-size: 52px;
text-align:left;
margin:130px;
}


#name{
    font-size: 21px;
    position: absolute;
    left: 120vh; 
    top: 160vh; 
}



#fifth{

width: 100%;
height:46vh;
background-color: rgb(255,255,255,255);
}


#ad-container{
    display:flex; 
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
   
}



#ad{

    background-color: #3b82f6;
    width: 1450px;
    height: 240px;
}


#ad1{
    font-size: 48px;
    margin-left: 100px;

}


#ad2{

    font-size: 30px;
    margin-left: 100px;

}


#ad1-container{
    display:flex;
    height: 100%;
    width: 100%
}


#container-ads{
    display:flex;
    flex-direction: column;
  text-align:left;
  justify-content: center;

  height: 100%;
  width: 100%

}


#button2-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}


#sign-up2{
    font-size: 28px;
    border-radius: 20px;
    border-color: #F9FAF8;
    background-color: #3882F6;
    color:#F9FAF8;
    font-family:'Times New Roman', Times, serif;
    width: 20vh;
    height: 6vh; 
    margin-right: 150px;
}



footer{
    background-color: #1F2937;
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer p{
    color:#F9FAF8;
    font-size: 24px;

}